@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono&display=swap");

body {
  font-family: "JetBrains Mono", monospace;
  padding: 0 20%;
}

@media (max-width: 768px) {
  body {
    padding: 0 2%;
  }
}

.cache-notice {
  position: fixed;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  background: #fff;
  color: black;
  padding: 10px;
  border: 1px solid transparent;
  background: #fff;
  font-size: 14px;
  z-index: 1000;
  display: none;
  font-family: "JetBrains Mono", monospace;
  text-align: center;
  border-image: linear-gradient(to right, #d00, #007a3d, #000) 1;
}

.cache-notice button {
  background: #fff;
  border: 1px solid transparent;
  padding: 5px 10px;
  margin-left: 10px;
  margin-top: 20px;
  cursor: pointer;
  font-size: 14px;
  font-weight: 600;
  font-family: "JetBrains Mono", monospace;
  border-image: linear-gradient(to right, #d00, #007a3d, #000) 1;
}
